
ion-img {
    height: 100%; 
}
.reset-button {
    --color: primary;
    font-size: 10px;
    position: relative;
    left: 65%;
    --background: var(--ion-color-light);
}
.email-phone {
    margin-top: 7px;
    font-size: 8px;
}
.text-color{
    color: #555555;
}
.text-color-2{
    color: #140d0d44;
    font-weight: 400;
}
.text-color ion-item{
    color: #474747;
}
.back-shadow {
    box-shadow: 10px 20px 8px solid #383737;
}

.grid-button {
    --color: primary;

    font-size: 10px;
    width: 90%;
    display: flex;
    --background: var(--ion-color-light);
}